<h1>Messages#index</h1>
<p><%= @msg %></p>
<table>
  <tr>
    <th>ID</th><th>Title</th><th>Person</th><th colspan="2"></th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><a href="/messages/<%= obj.id %>"><%= obj.title %></a></td>
    <td><%= obj.person_id %></td>
    <td><a href="/messages/edit/<%= obj.id %>">Edit</a></td>
    <td><a href="javascript:delData(<%= obj.id %>);"></a> </td>
  </tr>
  <% end %>
</table>

<script type="text/javascript">
  function delData(num){
    if (confirm('このデータを削除しますか?')) {
      document.locations = "/messages/delete/" + num;
    }
    return false;
  }
</script>
