<%= form_with(model: customer_service, local: true) do |form| %>
  <% if customer_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_service.errors.count, "error") %> prohibited this customer_service from being saved:</h2>

      <ul>
      <% customer_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :deal_date %>
    <%= form.date_select :deal_date %>
  </div>

  <div class="field">
    <%= form.label :staff_id %>
    <%= form.number_field :staff_id %>
  </div>

  <div class="field">
    <%= form.label :issue %>
    <%= form.text_area :issue %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
